.custom-header {
  padding: 15px;
  /* display: flex; */
}
.logo-img {
  width: 80px;
}
.user-avatar-img {
  width: 40px;
}
.navbar-list {
  display: flex;
  list-style: none;
}
.navbar-list a {
  padding: 8px 10px;
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
}
